/* Spinner animation */
@keyframes spinner {
    to {transform: rotate(360deg);}
}
@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}
.spinner {}
.spinner:before {
    content: 'Loading...';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: auto;
}
.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #03ade0;
    border-bottom-color: #03ade0;
    animation: spinner .8s ease infinite;
    -webkit-animation: spinner .8s ease infinite;
}
